.card-container {
    float:left;
    display: inline-block;
    /* width: 10%; */
    /* height: 10%; */
    width: 100px;
    height: 150px;
}

.card-table {
    display: block;
}

.lefters {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.edit-button {
    display: inline-block;
    width: .8%;
    height: .8%;
}

.edit-button:hover {
    display: inline-block;
    color: grey;
}